body {
    padding-top: 20px;
    padding-bottom: 20px;
}
    
.cotainer-narrow {
    margin: 0 auto;
    max-width: 840px;
}

.blue {
    background-color: blue;
}

.topmargin{
    margin-top: 30px;
}
.nomargin{
    margin-top: 0px;
    margin-bottom: 0px;
}

.smallnavfont{
    font-size: 10pt;
}

.headerlink a:hover{
    color: #0088CC;      
}

    
